/* MenuView.css - Styles for the Menu Page */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e2e;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.menu-header {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    font-size: 2rem;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.city-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.city-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4a4e69;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.city-info {
    display: flex;
    flex-direction: column;
}

.city-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.city-temp {
    font-size: 1rem;
}

.weather-icon {
    font-size: 2rem;
}

.city-card:hover {
    background: #6c72a6;
}

.loading-text {
    font-size: 1.2rem;
    color: #bbb;
}

.add-city-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #6c72a6;
    color: white;
    font-size: 2rem;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0;

}

.add-city-button:hover {
    background: #4a4e69;
}



